.elements {
  position: relative;
  width: 850px;
  height: 730px;

  @media (max-width: 991.98px) {
    width: 100%;
    height: 304px;
    margin-right: 0;
  }

  &__1 {
    width: 327px;
    height: 234px;
    background-image: url("../assets/images/svg/florals.svg");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    bottom: 0;
    left: 0;

    @media (max-width: 991.98px) {
      width: 125px;
      height: 89px;
      left: 17px;
    }

  }

  &__figure {
    height: 709px;
    width: 625px;
    margin: 0;
    margin-left: 133px;
    background-color: #000;
    -webkit-mask-image: url("../assets/images/svg/mask-bg-img.svg");
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    -webkit-mask-size: cover;
    mask-image: url("../assets/images/svg/mask-bg-img.svg");
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: cover;


    @media (max-width: 991.98px) {
      width: 266px;
      height: 304px;
      margin-left: 68px;
    }
  }

  &__img {
    height: 100%;
    max-width: 100%;

    &:hover {
      -webkit-mask-image: url("../assets/images/svg/mask-hover.svg");
      -webkit-mask-repeat: no-repeat;
      -webkit-mask-position: center;
      -webkit-mask-size: cover;
      mask-image: url("../assets/images/svg/mask-hover.svg");
      mask-repeat: no-repeat;
      mask-position: center;
      mask-size: cover;
    }
  }

  &__2 {
    width: 273px;
    height: 231px;
    background-image: url("../assets/images/svg/geometric-2.svg");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    bottom: 0;
    right: 70px;

    @media (max-width: 991.98px) {
      width: 108px;
      height: 88px;
      right: 12px;
    }
  }

  &__3 {
    width: 151px;
    height: 132px;
    background-image: url("../assets/images/svg/geometric-1.svg");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 9px;
    left: 163px;

    @media (max-width: 991.98px) {
      width: 58px;
      height: 51px;
      top: 16px;
      left: 68px;
    }
  }

}

#modal-img {
  border: none !important;
  background-color: rgba(0, 0, 0, 0) !important;
}

.dialog-img {
  min-width: fit-content;
}

.content-img {
  max-width: fit-content !important;
  width: fit-content !important;
  background-color: rgba(0, 0, 0, 0);
  border: none;
}