.content {
  background-color: #f6f0e8;
}

.home {
  // height: 980px;
  background-color: #f6f0e8;
  padding-top: 90px;
  padding-bottom: 36px;

  @media (max-width: 991.98px) {
    padding-top: 1.1rem;
    padding-bottom: 0;
  }
}