.title {
  color: #222222;
  font-family: "DMSerifText";
  font-size: 40px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 70px;
  text-align: center;
  font-style: normal;
  letter-spacing: 0.4px;
  line-height: normal;
}

.form-control {
  width: 450px;
  height: 60px;
  border-radius: 5px;
  background-color: #ffffff;
  color: #666666;
  font-family: Manrope;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: normal;
  line-height: 30px;
  text-align: left;
  font-style: normal;
  letter-spacing: 0.4px;
  line-height: normal;
}