@import "./fonts";

$fc-main: #222222;
$fc-second:#191919;
$fc-third: #666666;


$bg-color: #f6f0e8;

$ff-second: Manrope;
$ff-semibold: Manrope-SB;
$ff-title: DMSerifText;


#app {
  font-family: $ff-second, $ff-second;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: $fc-main;
}