.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.el-w {
  position: relative;

  width: 868px;
  height: 800px;
}

.el {
  width: 327px;
  height: 234px;
  background-image: url("/florals.svg");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  bottom: 0;
  left: 0;
}
.figure {
  height: 800px;
  width: 701px;

  margin: 0;
  margin-left: 133px;
  background-color: #000;

  -webkit-mask-image: url("/img_bgw.svg");
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: bottom center;
  -webkit-mask-size: contain;
}

.img {
  height: 100%;
  width: 100%;
}

.img:hover {
  -webkit-mask-image: url("/hover.svg");
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: bottom center;
  -webkit-mask-size: contain;
}

.el-0 {
  width: 151px;
  height: 132px;
  background-image: url("/geometric-1.svg");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 44px;
  left: 159px;
}

.el-1 {
  width: 273px;
  height: 231px;
  background-image: url("/2-layers.svg");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  bottom: 0;
  right: 0;
}
